.row{
    padding: 20px;
}
@media(min-width: 576px){
    img{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 11%;
    }
}
@media(max-width: 575px){
    img{
        position: block;
        width: 170px;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        margin-left: 27px;
    }
}
span{
    text-align: justify;
    font-size: medium;
    padding-left: 350px;
    margin-top: 30%;
}
div{
    text-align: center;
    background: #6eb9e4;
}
#nombre{
    font-weight: bold;
    margin-top: 10%;
}
