<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.png" alt="foto de Perfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Maia Aylen Romero</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" class="comentario">
        <span>
            <h2>Acerca de mi:</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quas quaerat nulla libero consequuntur ducimus? Cum asperiores quod nesciunt delectus fugiat, consequuntur, dolor consequatur corrupti consectetur tempora excepturi sapiente nulla?</p>
        </span>
    </div>
</div>
