#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#banner_title h2{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-left: 100px;
}

#banner_title .enjoy{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    padding-left: 200px;
}

@media(min-width: 576px){
    img{
        width: 400px;
        border-radius: 100%;
        padding-right: 60px;
        top: 299px;
    }
}
@media(max-width: 575px){
    img{
        width: 250px;
        padding-left: 60px;
        border-radius: 100%;
    }
}