<header class="bg_animate">
    <div class="row">
        <section class="banner contenedor">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                <section class="banner_title">
                    <h2>WELCOME A <br> My Portfolio</h2>
                    <h3 class="enjoy">Enjoy it</h3>
                </section>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="banner_img">
                    <img src="../../../assets/357.jpg" alt="">
                </div>
            </div>
        </section>
    </div>
</header>
